html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family:'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*start of styling to go with sticky header using jQuery*/
.header {
  background-color: #0077b5; 
  text-align: center;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 0;
  height: 240px;
  width: 100%;
}

.navigation {
  background-color: #0077b5; 
  text-align: center;
  margin: 0;
  padding: 0;
  height: 5%;
  width: 100%;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  background-color: #0077b5; 
  text-align: center;
  margin: 0;
  padding: 0;
  height: 5%;
  width: 100%;
}
.nav div {
  position: fixed;
  z-index: 10;
  visibility: hidden;
}
.visible-title {
  visibility: visible;
}
/*end of code dealing with sticky header*/


.nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 100%;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 5px 25px 10px 25px;
}
content {
  margin-top: 240px;
}
.blankSpace {
  z-index: 15;
  height: 240px;
  width: 100%;
}
.heroImg {
    padding: 50px 15px;
    background-color: #ebebeb;
}
.AboutMe {
    padding: 25px 150px 25px 150px;
    background-color: bisque;
}
.resume {
    padding: 70px 0;
    text-align: center;
}
.resumeButton {
  background-color: #2E655B;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
}
.flexContainer  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flexContainer h1 {
    text-align: center; 
}
.flexContainer div {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.projects h1 {
    text-align: center;
}
/* begin grid */
.workGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color:#0077b5;
    padding: 10px;
    row-gap: 25px;
  }

  .item1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .summary1 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  .buttonFCC {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    display: inline-block; 
  }
  .button1 {
    position: absolute;
    left: 25%;
    top: 45%;
    background-color: bisque;
    border: 3px solid #003754;
    color: #000000;
    font-size: 22px;
  } 

  .item2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .summary2 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .buttonHB {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    display: inline-block;
  }
  .button2 {
    position: absolute;
    left: 25%;
    top: 45%;
    background-color: bisque;
    border: 3px solid #003754;
    color: #000000;
    font-size: 22px;
  }

  .item3 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .summary3 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .buttonNPO {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-align: center;
    display: inline-block;
  }
  .button3 {
    position: absolute;
    left: 25%;
    top: 45%;
    background-color: bisque;
    border: 3px solid #003754;
    color: #000000;
    font-size: 22px;
  }
  .item4 {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .allProjects {
    position: relative;
    background-color: bisque;
    border: 3px solid #003754;
    color: #000000;
    font-size: 22px;
  }
/* end grid */
.AboutMe h1 {
    text-align: center;
}
footer {
    background-color: #373738; 
    padding: 5px;
    color: white;
}
footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
}

@media only screen and (max-width: 600px) {
    .flexContainer  {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    } 
    .flexContainer div {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    } 
    .workGrid {
        display: grid;
        grid-template-columns: auto;
        background-color: #2196F3;
        padding: 10px;
    }
}


/*https://www.w3schools.com/cssref/css_selectors.asp*/