body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation {
    background-color: #0077b5; 
    text-align: center;
    margin: 0;
    padding: 0;
    height: 5%;
    width: 100%;
}

.nav ul {
    display: inline-block;
    background: #eb4095;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 100%;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 50px;
}
.inline-block logo {
    width: 23%;
    padding: 5%;
    margin: 0%; 
} 
.heroImg {
    height: 600px;
    padding: 100px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ebebeb;
}
.content {
    max-width: 300px;
    margin: 0 auto;  
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center; 
}
.mySkills h1 {
    text-align: center;
}
.flexContainer  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flexContainer div {
    width: 33%;
    margin: 0 auto;
    padding: 15px;
}
.myWork h1 {
    text-align: center;
}
#workGrid {
    margin: 10vh 23vw;
    height: 80vh;
    width: 54vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "photo1 photo 1 summary1 summary1 button1"
    "button2 summary2 photo2"
    "photo3 summary3 button3"
    "seeAll"
    ;

}
.item1 {
    grid-area: "photo1";
    grid-column: 1 / 3;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.summary1 {
    grid-area: "summary1";
    grid-column: 3 / 5;
    grid-row: 1 / span 1; 
    outline: 1px solid red;
}
.button1 {
    grid-area: "button1";
    grid-column: 5 / 6;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.item2 {
    grid-area: "photo2";
    grid-column: 4 / 6;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.summary2 {
    grid-area: "summary2";
    grid-column: 2 / 4;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.button2 {
    grid-area: "button2";
    grid-column: 1 / 2;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.item3 {
    grid-area: "photo3";
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.summary3 {
    grid-area: "summary3";
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.button3 {
    grid-area: "button3";
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row: 1 / span 1;
    outline: 1px solid red;
}
.item4 {
    grid-area: "seeAll";
    grid-column: 1 / 6;
    grid-row: 1 / span 1;
    outline: 1px solid red;
    text-align: center;
}

.AboutMe h1 {
    text-align: center;
}
footer {
    background-color: #373738; 
    padding: 5px;
    color: white;
}
footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
}

@media only screen and (max-width: 600px) {
    .flexContainer  {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    } 
    .flexContainer div {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    } 
    #workGrid {
        margin: 10vh 23vw;
        height: 80vh;
        width: 54vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        "photo1"
        "summary1"
        "button1"
        "button2"
        "summary2"
        "photo2"
        "photo3"
        "summary3"
        "button3"
        "seeAll"
        ;
    }
}


/*https://www.w3schools.com/cssref/css_selectors.asp*/