body {
    margin: 0;
    font-family:'Noto Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation {
    background-color: #0077b5; 
    text-align: center;
    margin: 0;
    padding: 0;
    height: 5%;
    width: 100%;
}

.nav ul {
    display: inline-block;
    background: #eb4095;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    width: 100%;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 25px;
}
.heroImg {
    padding: 100px 15px;
    background-color: #ebebeb;
}
.flexContainer  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.flexContainer div {
    width: 33%;
    margin: 0 auto;
    padding: 15px;
}
.myWork h1 {
    text-align: center;
}
.workGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .item1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .summary1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .button1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .item2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .summary2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .button2 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .item3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .summary3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .button3 {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


.AboutMe h1 {
    text-align: center;
}
footer {
    background-color: #373738; 
    padding: 5px;
    color: white;
}
footer ul {
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
}

@media only screen and (max-width: 600px) {
    .flexContainer  {
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
    } 
    .flexContainer div {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    } 
    #workGrid {
        margin: 10vh 23vw;
        height: 80vh;
        width: 54vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        "photo1"
        "summary1"
        "button1"
        "button2"
        "summary2"
        "photo2"
        "photo3"
        "summary3"
        "button3"
        "seeAll"
        ;
    }
}


/*https://www.w3schools.com/cssref/css_selectors.asp*/